# Ignore everything
*

# Git and Gitignore
!.gitignore

# Don't ignore directories
!*/
Archive

# Don't ignore .Rmd files anywhere
!**/*.Rmd
!**/*.md

# R script files
!**/*.R

# R Project files
!**/*.Rproj

# Excel data files
**/*.xlsx

# session info
Session\ info/*.txt

Xpert pooling analysis_text.Rmd
.Rproj.user